:root {
    --default-blue: #19244d;
    --default-yelow: #FFCC57;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--default-blue);
    color: #fff;
}

/* NavBar */
header {
    display: flex;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(25, 36, 77, 0.6);
}

#navbar-conteiner {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

#navbar-conteiner img {
    width: 200px;
}

#navbar-conteiner nav {
    list-style: none;
    display: flex;
    padding: 20px;
    font-weight: bold;
}

#button-navbar {
    background: none;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-size: .95rem;
}

#navbar-conteiner nav .navbar-item {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    transition: all 300ms ease;
}

#navbar-conteiner nav .navbar-item:hover {
    color: var(--default-yelow);
    cursor: pointer;
}

/* Showcase */

#body-deposito {
    background-size: cover;
    background-position: center;
    background-color:  rgb(30, 45, 100);
    height: 100vh;
}

#main-deposito {
    padding-top: 80px;
    margin: auto;
}

#showcase-container-deposito {
    color: rgb(25, 36, 77);
    background-color: #dedede;
    min-width: 95vw;
    min-height: 80vh;
    border-radius: 2px;
    margin: auto 20px;
    padding: 5px;
}

#p-totala-mes {
    text-align: end;
    margin-right: 30px;
    font-weight: 500;
}

#showcase-container-deposito h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    font-size: 1.8rem;
}

#tabela{
    margin: auto;
}

#nome, #valor, #qtd, #parcelas, #button-submit {
    margin: auto 5px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 240px;
}

#tbody-controle p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

#button-submit, .changeButton button{
    background-color: #FFCC57;
    color: #121317;  
    font-weight: bold;  
    font-size: 1rem;
    max-width: 100px;
}

.changeButton button {
    border-radius: 5px;
    border: none;
    padding: 7px;
    width: 120px;
    margin: auto;
}

#button-submit:hover, .changeButton button:hover {
    background-color: #fad88a;
    color: #2f3b67;
    cursor: pointer;
}

.Product_item td {
    background-color: #fff;
    color: rgb(25, 36, 77);
    padding: 5px; 
    padding-left: 15px;
}

/* Modal */

#nome-modal{
    width: 250px;
}

#valor-modal {
    width: 100px;
}

#qtd-modal, #parcelas-modal {
    width: 70px;
}

#modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#close-modal, #chage-button-modal, #dell-button-modal, #view-month-end-closing{
    padding: .6rem 1.2rem;
    background-color: #888;
    color: black;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms ease;
}

#chage-button-modal {
    background-color: #FFCC57;
}

#dell-button-modal {
    background-color: brown;
}

#view-month-end-closing{
    background-color: forestgreen;
}

/* hISTÓRICO DOS FECHAMENTOS DOS MESES */   

#tabelas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#tbody-historico-fecha-mes-DJE9J97 td, #tbody-historico-fecha-mes-DHU7993 td{
    margin: auto;
    border-radius: 2px;
    width: 90px;
}

#p-histórico-fecha-mes {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 13px;
}

#fade, #modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all; /* Os eventos vao funcionar apenas quando a opacidade é 1*/

}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; /* Coloca o fade em uma camada a cima da página*/
}

#modal {
    position: fixed;
    /* Manipulando elemento com position: fixed */
    left: 50%;
    top: 50%; /* Coloca o elemento no meio da tela, mas não leva em consideração o corpo da div*/
    transform: translate(-50%, -50%); /*Concerta a centralização da div*/
    z-index: 10;
    background-color: var(--default-blue);
    max-width: 80%;
    padding: 1.2rem;
    border-radius: .25rem;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#fade.hide, #modal.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

.litros-modal, .Km-modal, .Preco-Km-modal, .Valor-Bruto-modal {
    width: 100px;
}

#fade-fecha-mes, #modal-fecha-mes {
    transition: .5s;
    opacity: 1;
    pointer-events: all; /* Os eventos vao funcionar apenas quando a opacidade é 1*/

}

#fade-fecha-mes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5; /* Coloca o fade em uma camada a cima da página*/
}

#modal-fecha-mes {
    position: fixed;
    /* Manipulando elemento com position: fixed */
    left: 50%;
    top: 50%; /* Coloca o elemento no meio da tela, mas não leva em consideração o corpo da div*/
    transform: translate(-50%, -50%); /*Concerta a centralização da div*/
    z-index: 10;
    background-color: var(--default-blue);
    max-width: 80%;
    padding: 1.2rem;
    border-radius: .25rem;
    max-height: 90%;
}

#modal-header-fecha-mes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#fade-fecha-mes.hide, #modal-fecha-mes.hide {
    opacity: 0;
    pointer-events: none;
}

#modal-fecha-mes.hide {
    top: 0;
}

#litros-modal-DJE9J97, #Km-modal-DJE9J97, #Preco-Km-modal-DJE9J97, #Valor-Bruto-modal-DJE9J97 {
    width: 100px;
}

#litros-modal-DHU7993, #Km-modal-DHU7993, #Preco-Km-modal-DHU7993, #Valor-Bruto-modal-DHU7993 {
    width: 100px;
}

select, input, #button-submit{
    margin: 0 7px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 250px;
}

.p-modal-fecha-mes {
    justify-content: left;
}

@media screen and (max-width:800px) {
    header {
        display: flex;
        justify-content: center;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: rgba(25, 36, 77, 0.6);
        height: 35px;
        padding: 3px 0;
    }
    
    #navbar-conteiner {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
    }
    
    #navbar-conteiner img {
        width: 150px;
    }
    
    #navbar-conteiner nav {
        list-style: none;
        display: flex;
        padding: 20px;
        font-weight: bold;
    }
    
    #navbar-conteiner nav .navbar-item {
        color: #fff;
        padding: 0 20px;
        text-decoration: none;
        transition: all 300ms ease;
    }
    
    #navbar-conteiner nav .navbar-item:hover {
        color: var(--default-yelow);
        cursor: pointer;
    }

    /* Showcase */
    #nome, #valor {
        width: 130px;
    }

    #qtd, #parcelas {
        width: 70px;
    }
    
    #nome, #valor, #qtd, #parcelas, #button-submit {
        margin: auto;
        margin-right: 10px;
        margin-top: 5px;
        padding: 7px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
    #button-submit {
        width: 100px;
        height: 35px;
    }

    #main-deposito {
        padding-top: 80px;
        margin: auto;
        padding-bottom: 20px;
    }

    #showcase-container-deposito {
        color: rgb(25, 36, 77);
        background-color: #dedede;
        max-width: 90vw;
        min-height: 80vh;
        border-radius: 2px;
        margin: auto;
        padding: 5px;
    }

    #tabela, thead th {
        margin: auto;
    }

    #tbody-controle p {
        font-weight: bold;
        text-align: center;
        margin-bottom: 8px;
    }

    #button-submit {
        margin-left: 25px;
    }
    
    #tbody-historico-fecha-mes-DJE9J97 td, #tbody-historico-fecha-mes-DHU7993 td{
        margin: 0;
        padding: 5px;
        border-radius: 2px;
        max-width: 65px;
    }

    #tbody-historico-fecha-mes-DJE9J97 .pd-preco-km, #tbody-historico-fecha-mes-DHU7993 .pd-preco-km{
        max-width: 20px;
        text-align: center;
    }
} 
